services:
  social-to-mealie:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    container_name: social-to-mealie
    environment:
      - OPENROUTER_URL=${OPENROUTER_URL}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - TRANSCRIPTION_MODEL=${TRANSCRIPTION_MODEL}
      - MEALIE_URL=${MEALIE_URL}
      - MEALIE_API_KEY=${MEALIE_API_KEY}
      - MEALIE_GROUP_NAME=${MEALIE_GROUP_NAME}
      - EXTRA_PROMPT=${EXTRA_PROMPT}
    ports:
      - 4000:3000
    security_opt:
      - no-new-privileges:true
