services:
  social-to-mealie:
    restart: unless-stopped
    image: ghcr.io/gerardpollorebozado/social-to-mealie:latest
    container_name: social-to-mealie
    environment:
      - OPENAI_URL=https://api.openai.com/v1 #URL of api endpoint of AI provider
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - TRANSCRIPTION_MODEL=whisper-1 # this model will be used to transcribe the audio to text
      - TEXT_MODEL=model # the model you want to use from your ai provider to use to create the recipe using the transcription result
      - MEALIE_URL=https://mealie.example.com # url of you mealie instance
      - MEALIE_API_KEY=${MEALIE_API_KEY}
      # Optionally specify yt-dlp version to use. Use "latest" or a release tag like "2025.11.01".
      # If provided, the container will try to download yt-dlp at startup into /usr/local/bin/yt-dlp.
      - YTDLP_VERSION=latest
      # Optional, Mealie group name, defaults to "home"
      - MEALIE_GROUP_NAME=home
      # Optional, addition to the prompt, useful for translation needs remove if not needed
      - EXTRA_PROMPT=The description, ingredients, and instructions must be provided in Spanish
    ports:
      - 4000:3000
    security_opt:
      - no-new-privileges:true
